:root {
  --blue: rgb(89, 177, 250);
  --red: rgb(241, 78, 78);
  --green: rgb(97, 236, 69);
}

.container {
  display: flex;
  height: 100%;
}

.half {
  flex: 1;
}

.all {
  flex: 1;
  background-color: var(--blue);
}

/*Colores para ambos lados*/
/* .half-left {
  background-color: var(--red);
}

.half-right {
  background-color: var(--green);
} */

  
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  position: relative;
  color: white;
  font-family: Arial;
  font-family: 'Lilita One', cursive;
}

.titulo {
  font-size: 60px;
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translate(-50%, -50%);
  transition: all 0.5s ease-in-out;
}

.titulo:hover {
  transform: translate(-50%, -50%) scale(1.2);
  cursor: pointer;
}

.move-icon {
  height: 50px;
}

.move-button {
  background-color: transparent;
  border: 3px solid white;
  width: 120px;
  height: 120px;
  border-radius: 60px;
  margin-right: 10px;
  cursor: pointer;
}

.result {
  font-size: 25px;
  font-weight: bold;
  margin-top: 50px;
}

.score {
  margin-top: 60px;
}

.reset-score-button,
.auto-play-button {
  background-color: white;
  border: none;
  font-size: 15px;
  padding: 8px 15px;
  cursor: pointer;
}