:root {
  --blue: rgb(89, 177, 250);
  --red: rgb(241, 78, 78);
  --green: rgb(97, 236, 69);
  --yellow: rgb(233, 230, 72);
  --clippy: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
  --clippy2: polygon(0 0, 0 0, 0 100%, 0 100%);
}

.container {
  display: flex;
  height: 100%;
}

.half {
  flex: 1;
  clip-path: var(--clippy);
}

.half-right {
  clip-path: var(--clippy2);
}

.middle {
  width: 10px;
  background-color: var(--green);
}

.all {
  flex: 1;
  background-color: var(--blue);
}

.half-left-win,
.half-right-win {
  background-color: var(--green);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  transition: clip-path 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);;
}

.half-left-lose,
.half-right-lose {
  background-color: var(--red);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  transition: clip-path 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);;
}

.half-left-tie,
.half-right-tie {
  background-color: var(--yellow);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  transition: clip-path 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);;
}

/*Colores para ambos lados*/
/* .half-left {
  background-color: var(--red);
}

.half-right {
  background-color: var(--green);
} */

  
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  position: relative;
  color: white;
  font-family: Arial;
  font-family: 'Lilita One', cursive;
}

.titulo {
  font-size: 60px;
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translate(-50%, -50%);
  transition: all 0.5s ease-in-out;
  z-index: 50;
}

.titulo:hover {
  transform: translate(-50%, -50%) scale(1.2);
  cursor: pointer;
}

.botones {
  position: absolute;
  display: flex;
  left: 38%;
  top: 50%;
}

.jugar {
  font-size: 22px;
  background-color: transparent;
  border: 3px solid white;
  border-radius: 10px;
  color: white;
  font-family: 'Lilita One', cursive;
  margin-right: 20px;
  padding: 20px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.jugar:hover {
  background-color: white;
  color: var(--blue);
}

.jugar:active {
  transform: scale(0.95);
  transition: none;
}

.imagenes {
  position: absolute;
  left: 37%;
  top: 23%;
}

.imagenes img {
  width: 100px;
  height: 100px;
  margin-right: 20px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.imagenes img:hover {
  transform: scale(1.2);
}

.imagenes img:active {
  transform: scale(0.95);
  transition: none;
}

.regresar {
  position: absolute;
  left: 2%;
  top: 2%;
  z-index: 50;
}

.jugar-ya {
  position: absolute;
  left: 45%;
  bottom: 10%;
  font-size: 40px;
  font-family: 'Lilita One', cursive;
  transition: all 0.2s ease-in-out;
}

.jugar-otra-vez {
  left: 39.5%;
}

.config {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 30%;
  top: 30%;
  font-size: 40px;
  font-family: 'Lilita One', cursive;
  transition: all 0.2s ease-in-out;
}

.config-rondas,
.config-tiempo {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.rondas,
.tiempo {
  margin-left: 10px;
  left: 30%;
  top: 40%;
  font-size: 20px;
  font-family: 'Lilita One', cursive;
  color: white;
  padding: 10px;
  background-color: transparent;
  border: 3px solid white;
  border-radius: 6px;
  transition: all 0.2s ease-in-out;
  outline: none;
}

.rondas:hover,
.tiempo:hover {
  background-color: white;
  color: var(--blue);
}

.config-rondas:hover,
.config-tiempo:hover {
  transform: scale(1.2);
}

.seleccion {
  background-color: white;
  color: var(--blue);
}

.tu-eleccion {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 18%;
  top: 30%;
  z-index: 30;
}

.bot-eleccion {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  right: 18%;
  top: 30%;
  z-index: 30;
}

.tu-eleccion div,
.bot-eleccion div {
  font-size: 60px;
  font-family: 'Lilita One', cursive;
  margin-bottom: 20px;
}

.tu-eleccion img,
.bot-eleccion img {
  width: 200px;
  height: 200px;
  margin-bottom: 20px;
}


/* 
.move-icon {
  height: 50px;
}

.move-button {
  background-color: transparent;
  border: 3px solid white;
  width: 120px;
  height: 120px;
  border-radius: 60px;
  margin-right: 10px;
  cursor: pointer;
}

.result {
  font-size: 25px;
  font-weight: bold;
  margin-top: 50px;
}

.score {
  margin-top: 60px;
}

.reset-score-button,
.auto-play-button { 
  background-color: white;
  border: none;
  font-size: 15px;
  padding: 8px 15px;
  cursor: pointer;
}
*/